/* ./src/components/css/aboutsection.css */

/* About section */

#about {
    height: 100vh;
}

.bio-image {
    border-radius: 50%;
    width: 200px; height: 200px;
    object-fit: cover;
    margin: 3rem;
}