/* ./src/components/css/contactsection.css */

#contact {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    margin: auto;
    margin-bottom: 2rem;
}

.form-container {
    background-color: var(--_recaptcha_bg);
    color: var(--lm_primary-colour);
    padding: 1rem;
    width: 50vw;
    margin: auto;
    height: fit-content;
    transition: background-color var(--_transition-time), color var(--_transition-time);

    border: 1px solid;
    border-radius: 10px;
    border-color: var(--_border-colour);
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
        rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

input {
    margin: 1rem 0;
    width: 70%;
    transition: background-color var(--_transition-time), color var(--_transition-time);
    font-family: var(--_body-font);
}

textarea {
    transition: background-color var(--_transition-time), color var(--_transition-time);
}

input[type=text], input[type=email] {
    background-color: var(--_recaptcha_bg);
    border: none;
    border-bottom: 1px solid var(--lm_primary-colour);
    font-size: var(--_body-font-size);
    width: 95%;
}

input[type=text]::placeholder, input[type=email]::placeholder {
    font-style: italic;
    color: var(--dm_background-colour-transparent);
}

#contact-form label {
    font-size: var(--_body-font-size);
}

#contact-form textarea {
    height: 10rem;
    width: 95%;
    resize: none;
    background-color: var(--_recaptcha_bg);
    border: 1px solid var(--lm_primary-colour);
    font-size: var(--_body-font-size);
    font-family: var(--_body-font);
}

#contact-form button, #contact-form input[type=reset] {
    border-radius: 2rem;
    border: 1px solid var(--lm_primary-colour);
    background-color: var(--dm_background-colour);
    color: var(--_recaptcha_bg);
    font: var(--_body-font) var(--_body-font-size);
    width: fit-content;
    padding: 1rem;
    margin: 2rem 1rem;
    transition: border var(--_transition-time-fast), 
        color var(--_transition-time-fast), 
        background-color var(--_transition-time-fast),
        opacity var(--_transition-time) ease-in-out;
}

#contact-form button:hover, #contact-form input[type=reset]:hover { 
    background-color: var(--lm_secondary-colour);
    color: var(--_recaptcha_bg);
    border: 1px solid var(--dm_background-colour);
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.g-recaptcha {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
}

#confirmation-msg {
    color: green;
}