/* src/global.css */

:root {
    /* Primary Colours - Dark Mode */
    --dm_primary-colour: #F9F9F9;
    --dm_secondary-colour: rgb(32, 66, 185);
    --dm_background-colour: rgb(16, 11, 53);
    --dm_light-grey-solid: #ECF0F1;
    --dm_shadow-colour: rgba(0,0,0,.5);

    /* Primary Colours - Light Mode */
    --lm_primary-colour: rgb(7, 3, 66);
    --lm_secondary-colour: rgb(245, 195, 58);
    --lm_background-colour: rgb(255, 255, 255);
    --lm_light-grey-solid: #ECF0F1;
    --lm_shadow-colour: rgba(0,0,0,.5);

    --_recaptcha_bg: #f9f9f9; /* This is set by Google and seemingly can't be overridden */
    
    /* Colours with transparency */
    --_light-grey: rgba(255, 255, 255, 0.3);
    --lm_background-colour-transparent: rgba(233, 238, 255, 0.9);
    --dm_background-colour-transparent: rgba(29, 41, 63, 0.75);

    /* Gradient Colours */
    --dm_gradient-start: rgba(0,187,255,1) 0%; 
    --dm_gradient-end: rgb(255, 0, 85) 100%;
    --lm_gradient-start: rgb(0, 38, 255) 0%;
    --lm_gradient-end: rgb(255, 0, 106) 100%;

    --_debug: rgba(255, 0, 0, 0);

    --_heading-font: 'Kanit', 'Gill Sans', 'Optima', sans-serif;
    --_body-font: 'Montserrat', 'Verdana', 'Optima', sans-serif;
    --_handwriting1: 'Shadows Into Light', cursive, sans-serif ;
    --_handwriting2: 'Architects Daughter', cursive, sans-serif;
    --_handwriting3: 'Square Peg', cursive, sans-serif;

    /* Transition timings */
    --_transition-time-fast: 0.3s;
    --_transition-time: 0.5s;
    --_transition-time-slow: 0.8s;

    --_border-colour: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);


    /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--2: clamp(0.5206rem, 0.4008rem + 0.5327vw, 1.04rem);
    --step--1: clamp(0.625rem, 0.4692rem + 0.6923vw, 1.3rem);
    --step-0: clamp(0.75rem, 0.5481rem + 0.8974vw, 1.625rem);
    --step-1: clamp(0.9rem, 0.6389rem + 1.1603vw, 2.0313rem);
    --step-2: clamp(1.08rem, 0.7432rem + 1.4968vw, 2.5394rem);
    --step-3: clamp(1.2963rem, 0.863rem + 1.9256vw, 3.1738rem);
    --step-4: clamp(1.555rem, 0.9983rem + 2.4744vw, 3.9675rem);
    --step-5: clamp(1.8663rem, 1.1525rem + 3.1724vw, 4.9594rem);

    --_body-font-size: var(--step-0);
    font-size: 16px;
}

/* for debugging
* {
    border: 1px solid red !important;
}*/

/* Ensure the html and body elements take up full height of the viewport */
body {
    height: 100%;
    margin: 0;
}

main {
    margin: 0; padding: 0;
}

/* Baseline text setup */
body {
    font-family: var(--_body-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4 {
    font-family: var(--_heading-font);
}

a, a:visited {
    text-decoration: none;
    font-style: italic;
}

.section-title {
    text-align: center;
}

.body-text {
    text-align: justify;
    margin: auto;
}

.body-heading {
    font-size: var(--step-5);
    line-height: 1.1;
    margin: 0;
}

/* Mode-specific color assignment */
.dark-mode {
    --primary-colour: var(--dm_primary-colour);
    --secondary-colour: var(--dm_secondary-colour);
    --background-colour: var(--dm_background-colour);
    --background-colour-transparent: var(--dm_background-colour-transparent);
    --shadow-colour: var(--dm_shadow-colour);
    --inv-pri-colour: var(--dm_background-colour);
    --inv-sec-colour: var(--lm_secondary-colour);
    --inv-bg-colour: var(--dm_primary-colour);

    --_gradient-start: var(--dm_gradient-start);
    --_gradient-end: var(--dm_gradient-end);
    

}

.light-mode {
    --primary-colour: var(--lm_primary-colour);
    --secondary-colour: var(--lm_secondary-colour);
    --background-colour: var(--lm_background-colour);
    --background-colour-transparent: var(--lm_background-colour-transparent);
    --shadow-colour: var(--lm_shadow-colour);
    --inv-pri-colour: var(--dm_primary-colour);
    --inv-sec-colour: var(--dm_secondary-colour);
    --inv-bg-colour: var(--dm_background-colour);

    --_gradient-start: var(--lm_gradient-start);
    --_gradient-end: var(--lm_gradient-end);
}

/* Universal transition setup */
body, h1, h2, h3, a, li, li > a, .control-button {
    transition: color var(--_transition-time), 
        background-color var(--_transition-time), 
        border-color var(--_transition-time),
        text-shadow var(--_transition-time);
    transition-timing-function: linear;
}

.nav-bar {
    transition: width 0.8s ease-in-out, opacity 0.5s;
}

/* Common Styles */
body {
    scrollbar-width: 5px;
    scrollbar-gutter: stable;
}

body, li {
    color: var(--primary-colour);
    border-color: var(--primary-colour);
    background-color: var(--background-colour);
}

    /* Let's style the scrollbar */
    body::-webkit-scrollbar {
        width: 5px;
    }

    body::-webkit-scrollbar-track {
        background-color: transparent;
        transition: background-color var(--_transition-time);
    }

    body::-webkit-scrollbar-thumb {
        background-color: var(--primary-colour);
        transition: background-color var(--_transition-time);
    }

.menu > a:hover li, .menu > a:hover {
    background-color: var(--primary-colour);
    color: var(--background-colour);
    border-color: var(--background-colour);
    cursor: pointer;
}

a, a:visited {
    color: var(--primary-colour);
}

a:hover {
    color: var(--secondary-colour);
}

.dark-mode .control-button {
    background-color: var(--background-colour);
    color: var(--primary-colour);
    border-color: var(--primary-colour);
}

.dark-mode .control-button:hover {
    background-color: var(--lm_background-colour);
    color: var(--lm_primary-colour);
    border-color: var(--lm_primary-colour);
}

.light-mode .control-button {
    background-color: var(--background-colour);
    color: var(--primary-colour);
    border-color: var(--primary-colour);
}

.light-mode .control-button:hover {
    background-color: var(--dm_background-colour);
    color: var(--dm_primary-colour);
    border-color: var(--dm_primary-colour);
}

/* Site Layout components */
.flex {
    display: flex;
}

.grid-2-col {
    display: grid;
    grid-auto-columns: auto auto;
}

    /* floating menu */
    .nav-container {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%); /* This just pushes the menu up slightly so it's properly centered*/
        height: 6.5em;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        z-index: 10; /* Keeps the control on top of any sections that might interfere */
    }

    .dark-mode .nav-container {
        color: var(--lm_background-colour);
        background-color: var(--_lm_background-colour);
    }

    .nav-container {
        color: var(--dm_background-colour);
        background-color: var(--_dm_background-colour);
    }

    .nav-bar {
        width: 0;
    }

    .nav-bar > .menu {
        margin: 0;
        padding: 0;
        border: 1px solid var(--primary-colour);
        border-bottom: none;
    }

    .nav-bar.closed {
        width: 0;
        opacity: 0;
    }

    .nav-bar.open {
        width: 10rem;
        opacity: 1;
    }

/* Hero Section */
#hero {
    width: auto;
    position: relative;
    height: 100dvh;
}

    .hero-bgImage {
        width: 100%;
        filter: blur(3px);
        height: 100dvh;
        z-index: -10;
    }

    .hero-bgImage-container { /* to fix the blurred edge effect */
        position: absolute;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        transform: scale(1.12), translate3d(1, 0, 0);
    }

    .dark-mode .hero-bgImage-container {
        opacity: 0.5;
    }

    .light-mode .hero-bgImage-container {
        opacity: 0.3;
    }

    .hero {
        z-index: 1;
        position: inherit;
        /*perspective: 300px;*/
    }

    .main-heading > h1 {
        font-size: calc(var(--step-5) * 2);
        margin-top: 5%;
    }

    .main-heading > h2 {
        font-size: calc(var(--step-3) * 2);
    }

    .main-heading {
        line-height: 1.1;
        background: linear-gradient(135deg, var(--_gradient-start), var(--_gradient-end));
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(5px 5px 5px var(--shadow-colour));
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .intro-p {
        font-size: var(--step-3);
        padding: 1rem;
        text-shadow: 2px 2px 3px var(--shadow-colour);
        z-index: 1;
    }

    .hero, .body-container {
        width: auto;
        padding: 1rem 0;
        margin: 0 auto;
        text-align: center;
    }

    .body-container {
        position: relative;
    }

footer {
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Reusable elements */

    /* Page control buttons */
    .page-controls {
        position: fixed;
        top: 0;
        left:0;
        margin: 0;
        padding: 0;
        height: 5rem;
        z-index: 10; /* Keeps the control on top of any sections that might interfere */
    }

    .control-button {
        border: 1px solid;
        border-radius: 2rem;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
    }

    .mode-button {
        left: 0;
    }

    #scrollup-button {
        position: inherit;
        right: 0;
        top: 0;
    }

    #scrolldn-button {
        position: inherit;
        right: 0;
        bottom: 0;
    }

    /* Section Background image setup */
    .bg-Image-container {
        position: absolute;
        width: 100%;
    }

    .bgImage {
        width: 100%;
        height: 100dvh;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: -10;
        transition: opacity var(--_transition-time) ease-in-out;
    }

    /* Grid/Flex columns elements*/
    .one-column-flex {
        display: flex;
        border: 1px solid var(--_debug);
        flex-flow: wrap;
        padding: 0px 5rem;
        width: 89svw;
        margin: auto;
    }
    
    .two-column-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid var(--_debug); /* Debugging */
        margin: 0 10rem;
        gap: 3rem;
    }

    .flex-column-one {
        flex: 2;
        padding: 1rem;
    }

    .flex-column-two {
        flex: 1;
        align-self: center;
        padding: 1rem;
    }

    .three-columns {
        border: 1px solid var(--_debug); /* Debugging */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        padding: 1rem;
        margin: 0 2rem;
    }

    .two-column-grid {
        display: grid;
        grid-template-columns: .8fr 2fr;
        align-items: center;
        column-gap: 1rem;
    }
    
    .grid-column-one {
        border: 1px solid var(--_debug); /* Debugging */
        justify-self: end;
    }
    
    .grid-column-two {
        border: 1px solid var(--_debug); /* Debugging */
        justify-items: start;
    }

.section-bg {
    z-index: -20;
    position: absolute !important;
}

.hidden {
    opacity: 0;
    transition: opacity var(--_transition-time-slow) ease-in-out;
    display: none;
}

.fade-in {
    animation: fadeInAnimation ease var(--_transition-time-slow);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOutAnimation ease var(--_transition-time-slow);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOutAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.aside {
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 20;
}

.handwritten {
    font-family: var(--_handwriting3);
}

.quote {
    display: flex;
    flex-direction: row;
}

.block-content, .quote > p {
    text-align: justify;
}

.left {
    left: 0;
    text-align: left;
    align-self: flex-start;
}

.right {
    text-align: right !important;
    align-self: flex-end;
}

.smaller {
    font-size: calc(var(--_body-font-size) * 0.8);
}

.text-bg {
    background-color: var(--background-colour-transparent);
    width: 100%;
    padding: .5rem 0;
}
    
.address-block {
    position: absolute;
    text-align: left;
    margin: 0 1rem;
    top: 98%;
    left: 15%;
    bottom: 0;
}

.social-icons {
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.social-icons li {
    list-style: none;
    padding-right: 1rem;
    transition: font-size var(--_transition-time-fast) ease-in-out, background var(--_transition-time);
    background: transparent;
}

.social-icons li:hover {
    font-size: 2rem;
}

.menu ul {
    width: max-content;
}

.menu li {
    border-bottom: 1px solid;
    width: inherit;
    padding: .25rem;
}

/* Mobile view */
@media (max-width: 425px) {

    .page-controls, .nav-container {
        display: none;
    }

    .body-heading h1 {
        font-size: var(--step--2);
    }

    .intro-container {
        width: 100%;
        margin: 3rem auto;
    }

    .intro-container p {
        font-size: var(--step-2);
    }

    .aside {
        font-size: var(--step--1);
        width: 70vw;
    }

    .body-heading h1 {
        font-size: var(--step-4);
    }

    .body-text {
        max-width: 90%;
        padding: 2rem;
    }
    
    .body-text p {
        font-size: var(--step-0);
    }
}

/* Tablet/medium displays */
@media (min-width: 426px) and (max-width: 810px) {

    h3 {
        font-size: var(--step-1);
        line-height: 1;
        font-weight: 300;
    }

    .page-controls, .nav-container {
        display: none;
    }

    .body-heading h1 {
        font-size: var(--step--2);
    }

    .intro-container {
        width: 100%;
        margin: 3rem auto;
    }

    .intro-container p {
        font-size: var(--step-2);
    }

    .aside {
        font-size: var(--step--1);
        width: 70vw;
    }

    .body-text {
        max-width: 90vw;
        padding: 3rem;
    }
    
    .body-text p {
        font-size: var(--step--1);
    }

}

/* Laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    h3 {
        font-size: var(--step-0);
        line-height: 1;
        font-weight: 300;
    }

    .intro-container {
        width: 80%;
        margin: 3rem auto;
    }

    #contact .body-container {
        transform: translateY(-5rem);
    }

    .body-heading h1 {
        font-size: var(--step-5);
        margin-bottom: 2rem auto;
        padding: 2rem;
    }

    .body-text {
        max-width: 80%;
    }
    
    .body-text p {
        font-size: var(--step--1);
    }

}

/* Large Displays */
@media (min-width: 1025px) {
    
    h3 {
        font-size: var(--step-1);
        line-height: 1;
        font-weight: 300;
    }
    
    .intro-container {
        width: 80%;
        margin: 3rem auto;
    }

    .aside {
        font-size: var(--step--2);
        width: 50vw;
    }

    .body-heading h1 {
        font-size: var(--step-5);
    }

    .body-text {
        max-width: 60vw;
    }
    
    .body-text p {
        font-size: var(--step--1);
    }

}